<div style="width:200px;">
	<div *ngIf="!Loading">
		<h3>Record Mileage</h3>
		<div>
			<mat-form-field>
				<input matInput name="Mileage" placeholder="Current Mileage" [(ngModel)]="Car.Mileage" type="number"/>
				<mat-hint *ngIf="ErrorMessage">
					<span>{{ErrorMessage}}</span>
				</mat-hint>
			</mat-form-field>
			
			<div *ngIf="advanced">
				<mat-form-field>
					<input matInput name="Date" placeholder="Recording Date" [(ngModel)]="RecordingDate" type="date"/>
				</mat-form-field>
			</div>
			
			<button mat-button color="primary" (click)="save()">Save</button>
			<button mat-button (click)="advanced=!advanced">Advanced</button>
		</div>
	</div>
	<div *ngIf="Loading">
		<mat-spinner mode="indeterminate" color="primary"></mat-spinner>
	</div>
</div>