<mat-card class="car" *ngIf="!Loading">
	<div class="col-md-12">
		<h2 style="float:left;">
			{{Car.Nickname||"Username"}}
		</h2>
		<div class="edit-links">
			<a style="float:right" (click)="delete()">delete</a>
			<a style="float:right" routerLink="/car/{{Car.Vin}}/edit">edit</a>
		</div>
		<div style="clear: both;"></div>
		Mileage: {{Car.Mileage}} Kilometers <button mat-button (click)="updateMileage()">Update</button>
	</div>
</mat-card>

<mat-card *ngIf="Loading">
	<mat-spinner mode="indeterminate" color="primary"></mat-spinner>
</mat-card>