@import "../../../app.scss";

.car {
	overflow: hidden;
	margin-bottom: 15px;
	
	.edit-links {
		a {
			padding-left: 10px;
		}
	}
	
	.service-item {
		@include box();
		margin: 5px;
		
		.service-item-status {
			float: right;
			margin-right: 30px;
			color: gray;
		}
	}
}