<mat-card class="car" *ngIf="!Loading">
	<div class="col-md-12">
		<h2 style="float:left;">
			{{Car.Nickname||Nickname}}
		</h2>
		<div class="edit-links">
			<a style="float:right" (click)="delete()">Delete</a>
			<a style="float:right" routerLink="/car/{{Car.Vin}}/edit">Edit</a>
			<a style="float:right" target="_blank" href="{{ApiUrl}}/gen/carservice/pdf?vin={{Car.Vin}}&apikey={{ApiKey}}">Print</a>
			<span style="float:right;" *ngIf="SendingTest">Sending...</span>
			<a style="float:right" *ngIf="!SendingTest" (click)="sendTestEmail()" href="javascript:;">Email Me</a>
		</div>
		<div style="clear: both;"></div>
		<div>
			<h4 style="float:left;">
				Mileage
				<button mat-button (click)="updateMileage()">Update</button>
			</h4>
			<h6 style="float:right;">Current: {{Car.Mileage}}KM</h6>
			<div style="clear: both;"></div>
			<div style="overflow:hidden;" *ngIf="chartSettings.data" #chartcontainer>
				<ngx-charts-line-chart
					[results]="chartSettings.data"
					[xAxis]="true"
					[yAxis]="true"
					[view]="chartSettings.view"
				></ngx-charts-line-chart>
			</div>
		</div>
		<div>
			<div class="col-md-6" *ngFor="let item of comps">
				<div class="service-item">
					{{item.ServiceType}}
					<div class="buttons" routerLink="/car/{{Car.Vin}}/part/{{item.Id}}">
						<i class="fa fa-chevron-right"></i>
					</div>
				</div>
			</div>
			
			<button mat-button class="spacer" style="width:100%;" (click)="addMaintenanceItem()">Add Maintenance</button>
		</div>
	</div>
</mat-card>

<mat-card *ngIf="Loading">
	<mat-spinner mode="indeterminate" color="primary"></mat-spinner>
</mat-card>