<mat-card class="car" *ngIf="!Loading">
	<div class="col-md-12">
		<h2 style="float:left;">
			{{Car.Nickname||Nickname}}
		</h2>
		<div class="edit-links">
			<a style="float:right" (click)="delete()">Delete</a>
			<a style="float:right" routerLink="/car/{{Car.Vin}}/edit">Edit</a>
			<a style="float:right" target="_blank" href="{{ApiUrl}}/gen/carservice/pdf?vin={{Car.Vin}}">Print</a>
		</div>
		<div style="clear: both;"></div>
		<div>
			<h4 style="float:left;">
				Mileage
				<button mat-button (click)="updateMileage()">Update</button>
			</h4>
			<h6 style="float:right;">Current: {{Car.Mileage}}KM</h6>
			<div style="clear: both;"></div>
			<div *ngIf="chartSettings.data" #chartcontainer>
				<ngx-charts-line-chart
					[results]="chartSettings.data"
					[xAxis]="true"
					[yAxis]="true"
					[view]="chartSettings.view"
				></ngx-charts-line-chart>
			</div>
		</div>
	</div>
</mat-card>

<mat-card *ngIf="Loading">
	<mat-spinner mode="indeterminate" color="primary"></mat-spinner>
</mat-card>