<mat-card>
	<mat-card-content>
		<div class="profile-container">
			<img *ngIf="!ProfileImageUrl" class="profile-image" (click)="UploadImage()" src="http://placehold.it/200x200" />
			<img *ngIf="ProfileImageUrl" class="profile-image" (click)="UploadImage()" [src]="ProfileImageUrl" />
			<h2>Profile</h2>
		</div>
		<mat-form-field>
			<input matInput placeholder="Username" [(ngModel)]="CurrentUser.Username" type="text"/>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="Email" [(ngModel)]="CurrentUser.EmailAddress" type="text"/>
		</mat-form-field>
		<button mat-button (click)="Update()">Update</button>

		<div></div>

		<h3 class="title">Change Password</h3>
		<mat-form-field>
			<input matInput placeholder="Old Password" [(ngModel)]="OldPassword"/>
		</mat-form-field>
		<mat-form-field>
			<input matInput placeholder="New Password" [(ngModel)]="NewPassword"/>
		</mat-form-field>
		<button mat-button (click)="ChangePassword()">Change Password</button>
		
		<div>
			<button mat-button routerLink="/plans">Change Plans</button>
		</div>
		
		<div>
			<button (click)="onPay()">
				Add
			</button>
		</div>
	</mat-card-content>
</mat-card>