<mat-card>
	<mat-card-content>
		<div class="profile-container">
			<img *ngIf="!ProfileImageUrl" class="profile-image" (click)="UploadImage()" src="http://placehold.it/200x200" />
			<img *ngIf="ProfileImageUrl" class="profile-image" (click)="UploadImage()" [src]="ProfileImageUrl" />
			<h2>Profile</h2>
		</div>
		<input matInput placeholder="Username" [(ngModel)]="CurrentUser.Username" type="text"/>
		<input matInput placeholder="Email" [(ngModel)]="CurrentUser.EmailAddress" type="text"/>
		<button (click)="Update()">Update</button>
	</mat-card-content>
</mat-card>

<mat-card>
	<h3 class="title">Change Password</h3>
	<input matInput placeholder="Old Password" [(ngModel)]="OldPassword"/>
	<input matInput placeholder="New Password" [(ngModel)]="NewPassword"/>
	<button (click)="ChangePassword()">Change Password</button>
</mat-card>