<div>
	<mat-card class="nav-item" routerLink="/home">
		<h3>
			<i class="fa fa-home"></i>
			Home
		</h3>
	</mat-card>
	
	<mat-card *ngIf="IsLoggedIn" class="nav-item" routerLink="/profile">
		<h3>
			<i class="fa fa-user"></i>
			Profile
		</h3>
	</mat-card>

	<mat-card class="nav-item" routerLink="/settings">
		<h3>
			<i class="fa fa-cog"></i>
			Settings
		</h3>
	</mat-card>

	<mat-card *ngIf="IsLoggedIn" class="nav-item" (click)="Logout()">
		<h3>
			<i class="fa fa-sign-out"></i>
			Sign out
		</h3>
	</mat-card>
	
	<mat-card *ngIf="!IsLoggedIn" class="nav-item" routerLink="/login">
		<h3>
			<i class="fa fa-sign-in"></i>
			Sign in
		</h3>
	</mat-card>
</div>