.fitment-page {
	.stud {
		background-color: darkgray;
		border-radius: 25px;
		height: 50px;
		width: 50px;
	}
	.spoke {
		overflow: hidden;
		width: 200px;
		height: 200px;
		position: absolute;
		margin: 50px;
	}
	
	.stud-diameter {
		margin: 0 50px;
		width: 200px;
		height: 200px;
		border-radius: 100px;
		border: 1px dashed black;
	}
	
	.stud-centre {
		width: 100%;
		margin: auto;
	}
	
	.stud-container {
		margin: auto;
		position: relative;
		width: 300px;
		height: 300px;
		background-color: lightgray;
		border-radius: 150px;
		display: inline-block;
	}
	
	.stud-diagram {
		position: absolute;
		margin: 0 50px;
		border: 1px dashed black;
		width:200px;
		top:0;
		height: 150px;
		border-bottom-width: 0;
	}
	
	.stud-diam {
		padding: 50px 0;
	}
}
