.payment-plans {
	overflow: hidden;
	h2 {
		margin: 15px;
	}
}

.payment-item {
	margin:5px;
	padding: 10px;
	border: 1px solid gainsboro;
	position: relative;
	height: 300px;
	
	#price {
		right: 0;
		top: 0;
		position: absolute;
		padding: 5px;
		font-weight: bold;
	}
	
	button {
		position: absolute;
		bottom: 10px;
		padding: 5px;
	}
}