<mat-card *ngIf="!Loading">
	<div class="col-md-12">
		<h2 style="float:left;">
			{{Part.ServiceType}}
		</h2>
		
		<button style="float:right; font-size:20px;" mat-button [matMenuTriggerFor]="menu">
			<i class="fa fa-ellipsis-v"></i>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-button (click)="delete()">
				Delete {{Part.ServiceType}}
			</button>
			<mat-divider></mat-divider>
			<button mat-button (click)="disableRepeat()" *ngIf="Part.RepeatTypeId">
				Stop Repeating
			</button>
			<button mat-button (click)="setupRepeat()" *ngIf="!Part.RepeatTypeId">
				Setup Reminders
			</button>
		</mat-menu>
		<div style="clear:both;"></div>
	</div>
	
	
	<div class="col-md-12 spacer" *ngIf="Part.RepeatTypeId">
		<h3>Reminders</h3>
		<div *ngIf="Part.RepeatTypeId">
			Change every {{Part.RepeatFrequency}}
			<span *ngIf="Part.RepeatTypeId=='mileage'">KM</span>
			<span *ngIf="Part.RepeatTypeId=='age'">Month(s)</span>
		</div>
	</div>
	
	
	<div class="col-md-12 spacer">
		<h3>History</h3>
		
		<div *ngIf="Part.LastChange">
			Last change was {{Car.EstimatedCurrentMileage - Part.LastChange.Mileage|toFixed}}KM and {{Part.LastChange.Date|moment}}
		</div>
		
	</div>
	
	<div class="col-md-12 spacer">
		<button style="width:100%;" mat-button (click)="CompleteServiceItem()">
			Complete Work
		</button>
	</div>

	<div style="clear:both;"></div>
</mat-card>

<mat-card *ngIf="Loading">
	<mat-spinner mode="indeterminate" color="primary"></mat-spinner>
</mat-card>