@import './app';
@import './Parts/HamburgerMenu/Hamburger';
@import './Parts/Profile/Profile';
@import './Parts/Dialog/Upload/Upload';
@import './Parts/Car/Add/AddCar.scss';
@import './Parts/Car/Detail/Detail.scss';
@import './Parts/PaymentPlans/Plans.scss';
@import './Parts/Dialog/ServiceItem/ServiceItem.scss';
@import './Parts/Car/Edit/EditCar.scss';
@import './Parts/Dashboard/Dashboard.scss';
@import './Parts/Home/Home.scss';

* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
	background-color: $app-primary;
	color: $app-primary-text;
	display: block;
	margin: 0;
}

dashboard, home, login, profile, settings, Signup, app-root, upload-file-dialog {
	display: block;
	margin: 0;
}

.spacer {
	margin-top: 15px !important;
}

input, mat-input {
	width: 100%;
}
	
mat-spinner {
	position: relative;
	right: -50%;
	transform: translateX(-50px);
}
	
button {
	border: 0px;
	background: transparent;
}

mat-card {
	margin-top: 15px;
}

.header-text {
	color: $app-text;
	font-size: 30px;
	padding-left: 5px;
}

.nav-icon-container {
	float: left;
}

.sidenav {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	bottom: 0;
}

.mat-sidenav {
	background-color: $app-primary;
	width: 80%;
	max-width: 400px;
	overflow: hidden;
}

.mat-sidenav-content {
	background-color: $app-primary;
}
mat-sidenav-container {
	height: 100%;
}

.header-container {
	background-color: $app-primary-dark;
	overflow: hidden;
	box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

header-bar {
	padding-top: 7px;
	float: left;
}

menu {
	display: block;
	padding: 0px 15px 15px 15px;
}

@keyframes startAnim {
	0% {
		background-color: $app-primary-dark;
		opacity: 1;
	}
	100% {
		opacity: 0;
		display: none;
	}
}

.cover-page {
	pointer-events: none;
	animation-name: startAnim;
	animation-duration: 0.5s;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}