.header {
	top: 0;
	width: 100%;
	background-color: #000;
	height: 10%;
}

.content-container {
	left:0;
	right: 0;
	bottom: 0;
	top:10%;
	overflow-y: auto;
}


/* Add compontents here if they behaving weird */
.input-field, app, login {
	overflow: hidden;
	display: block;
}

body {
	display: block;
	background-color: #666;
	width: 100%;
	height: 100%;
}

button {
	border: 0px;
}