.header {
	top: 0;
	width: 100%;
	background-color: #000;
	height: 10%;
}
.content-container {
	left:0;
	right: 0;
	bottom: 0;
	top:10%;
	overflow-y: auto;
}

body {
	display: block;
	background-color: #666;
}
