<mat-card>
	<h2>Add a Car</h2>
	<div>
		To find a vin it will be punched into the car. Some models have them inside the door frame, under the bonnet or on the windscreen
	</div>
	<form (ngSubmit)="save()">
		<mat-form-field>
			<input matInput required
				type="text"
				(keyup)="checkVin($event)"
				[(ngModel)]="vin"
				name="vin"
				placeholder="Vin"
				[ngModelOptions]="{standalone:true}"/>
			
			<mat-hint *ngIf="Car">
				<span><b>Country:</b>{{Car.CountryOfOrigin.Name}}</span>
				<span><b>Make:</b>{{Car.Manufacturer.Name}}</span>
			</mat-hint>
		</mat-form-field>
		
		<mat-form-field>
			<input matInput required 
				type="text"
				[(ngModel)]="nickname"
				placeholder="Car Nickname"
				[ngModelOptions]="{standalone:true}" />
		</mat-form-field>
		
		<mat-form-field>
			<mat-select placeholder="Year" [(value)]="createdYear">
				<mat-option *ngFor="let year of years" [value]="year">
					{{year}}
				</mat-option>
			</mat-select>
		</mat-form-field>
		
		
		<mat-form-field>
			<input matInput
				type="number"
				[(ngModel)]="currentMileage"
				placeholder="Current Mileage"
				[ngModelOptions]="{standalone:true}"
			/>
		</mat-form-field>
		
		<button mat-button type="submit">Submit</button>
	</form>
</mat-card>